<% content_for(:page_header) do %>
  <%= @case_test.title %>
<% end %>
<% content_for :panel_heading do %>
  Case Test: <%= @case_test.title %>
  <a href="<%= case_test_run_path(@case_test) %>" id="run-test" class="btn btn-success btn-xs pull-right">
    <i class="fa fa-play"></i> Run Now
  </a>
<% end %>

<p>
  <strong>Title:</strong>
  <%= @case_test.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @case_test.description %>
</p>

<p>
  <strong>Url:</strong>
  <%= link_to @case_test.url %>
</p>

<p>
  <strong>Last execution on:</strong>
  <%= @case_test.last_execution %>
</p>

<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <%= render @case_test.steps %>
</div>
